
  body {
    background-image: url("../img/screenshot.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: red;
    font-family: "Helvetica", sans-serif;
    list-style-type: disc;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 25px;
    background: rgba(220, 220, 220, 0.9);
    padding: 10px;
  }

  tr, ol, p {
    font-size: 20px;
  }
  
  .topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
  }
  
  .topnav a:hover {
    background-color: grey;
    color: black;
  }
  
  .topnav a.active {
    background-color: red;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .content {
    padding: 14px;
    font-size: 22px;
  }
  
  @media screen and (max-width: 800px) {
    .topnav a:not(.active) {
      display: none;
    }

    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }